@media only screen and (min-width:  35em) {
    #logo {
		display: flex;
		flex-direction: row;
	}
    #logo img {
        margin-left: 0;
        margin-top: 60px;
    }
    #logo p {
        padding-top: 50px;
    }
    #hero p {
        font-size: 4.5em;
        width: 100%;
        top: 23%;
    }

    #hero .button {
        font-size: 1.8rem;
        width: 150px;
        left: calc(50% - 100px);
    }

    #spotlight {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
    #spotlight a img{
        margin: 0 2% 0 2%;
        width: 96%;
    }
    #hero img {
        width: 105%;
        /* margin-left: 18px; */
        height: auto;
     }
    #event-weather {
        display: flex;
        width: 100%;
    }
    #news p{
        font-size: 1.2em;
     }
    #weather {
        padding-right: 20px;
        margin-left: 0;
        grid-column: 2/3;
        grid-row: 1;
    }
    #event{
        grid-column: 1/2;
        grid-row: 1;
        margin-bottom: 15px;
    }
    #temperature {
        font-size: 4em;
    }
    .temperature{
        font-size: 0.4rem;
    }
    #event a img {
        min-width: 20.2em;
    }
    #join {
        display: block;
        text-align: center;
        margin: 10% 0 10% 0;
    }
    #join a{
        color: #eee;
        background-color: #0050A0
    }

   #join a:hover{
    background-color: #A51890;
   }
    #chamber-map {
        padding-top: 70px;
        font-size: 1.1em;
        text-align: right;
        margin-right: 10%;
        margin-left: auto;
    }
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        
    }
   .navbar-wraper #meeting{
        display: block;
        grid-row: 3/4;
        grid-column: 1/5;
        background-color: var(--primary-color);
        margin: 0 -10px 0 -10px;
        padding: 10px 10px;
        font-size: 1.2em;
        color: var(--accent3-color);
    }
    #small-meeting{ 
        display: none;
    }
    /*Style section for Discover Page  */
 .image{
    display: flex;
 }   
     
 .image img{
    padding: 30px;
    transition: 1s;
 }
 .image img:hover{
    transform: scale(1.1);
    z-index: 2;
    opacity: 90%;
 }
 
 /* --------STYLING SECTION FOR JOIN PAGE---------- */
 .fields{
    font-size: 1.4rem;
}
/* -----------STYLING FOR DIRECTORY PAGE */
.directory{
    grid-template-columns: repeat(3, 1fr);
}
.list section {
	flex-direction: row;
	justify-content: left;
}
.list section > *{
    text-align: left;
}
.list section p{
    font-size: 1.4em;
}
.list section{
    align-items: center;
}

}