@media only screen and (min-width: 35em){
    .navbar label.logo{
        font-size: 33px;
        padding: 0 50px;
    }
    .hero-text{
        max-width: 70%;
    }
    .hero-text p{
        font-size: 1.4rem;
    }
    .hero-text h1{
        font-size: 2rem;}
    .about .row{
        flex-wrap: nowrap;
    }
    .heading{
        font-size: 3rem;
    }
    .about .row .content h3{
        font-size: 2.5rem;
    }
    .menu .box-container .box:nth-child(4){
        display: block;
    }
    .menu .box-container .box:nth-child(5){
        display: block;
    }
    .menu .box-container .box:nth-child(6){
        display: block;
    }
    .footer .share i{
        font-size: 2rem;
        width: 4rem;
        line-height: 4rem;
    }
    .footer .credit h2, .contacts h2{
        font-size: 1.7rem;
    }
    .weathertotal-container{
        flex-wrap: nowrap;
    }
    .freshtotal p{
        font-size: 3rem;
    }
    /* .menu .box_container{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    } */
}