@media only screen and (min-width: 35em){
    .navbar label.logo{
        font-size: 33px;
        padding: 0 50px;
    }
    .hero-text p{
        font-size: 1.4rem;
    }
    .hero-text h1{
        font-size: 2rem;}
    .about .row{
        flex-wrap: nowrap;
    }
    .heading{
        font-size: 3rem;
    }
    .about .row .content h3{
        font-size: 2.5rem;
    }
    .footer .share a{
        font-size: 2rem;
    }
    .footer .credit, .contacts{
        font-size: 1.7rem;
    }
    .weathertotal-container{
        flex-wrap: nowrap;
    }
    .freshtotal p{
        font-size: 3rem;
    }
    /* .menu .box_container{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    } */
}