@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&family=Ubuntu:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(to right, lightgrey, tomato);
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Ubuntu', 'Montserrat', sans-serif;
    text-size-adjust: 100%;
}
:root {
    --primary-color: #ff6347;
    --secondary-color: #ffa500;
    --accent1-color: #9c27b0;
    --accent2-color: #d3d3d3;
    --accent3-color: #ffffff;
    --heading-font: 'Ubuntu';
    --paragraph-font: 'Montserrat';
}
h1, h2, h3{
    font-family: var(--heading-font);
}
p, a{
    font-family: var(--paragraph-font);
}
.navbar{
    width: 100%;
    position: fixed;
    background: linear-gradient(to right, #9c27b0, orange);
    z-index: 1;
    overflow: hidden;
}
.navbar label.logo{
    font-size: 25px;
    padding-left: 10px;
    line-height: 80px;
    font-weight: bold;
    font-style: italic;
}
.navbar label.logo a{
    color: var(--accent3-color);
}
.navbar ul li {
    display: block;
    line-height: 80px;
}
.navbar .toggle li a{
    display: block;
    text-align: center;
    color: var(--accent3-color);
    font-size: 20px;
    text-transform: uppercase;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
}
.navbar .toggle li a:hover{
    background: linear-gradient(to right, orange,orange, yellow); 
    color: #000;
}
.navbar .toggle li a.active{
    color: #0082e6;
    background: linear-gradient(to right, lightgrey, orange);
}
#hamburgerBtn{ 
    background: transparent;
    font-size: 30px;
    color: var(--accent3-color);
    border: none;
    line-height: 80px;
    margin-right: 40px;
    float: right;
    cursor: pointer;
}
.fresh:hover::after{
    content: ' 🍒';
}
.navbar ul{
    display: none;
}
.navbar ul.open{
    display: block;
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}

/* ------- HERO SECTION STARTS HERE ---------- */
.hero-area{
    display: inline-block;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.hero-area a, .btn{
    /* display: block; */
    padding: .5rem 1.5rem;
    background: linear-gradient(to right, orange, tomato);
    color: var(--accent3-color);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 1px 1px 5px rgb(94, 55, 55);
    cursor: pointer;
}
.hero-area a:hover, a:hover{
    color: black;
}
.hero-area .hero-text{
    color: black;
}
.hero-text{
    background-color: rgb(255, 165, 0, .7);
    box-shadow: 1px 1px 5px rgb(94, 55, 55);
    max-width: 98%;
    margin: auto;
    padding: .1px;
    margin-bottom: 20px;
    margin-top: -20px;
}
.hero-text h1{
    text-align: center;
    margin-top: 7rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.hero-text p{
    text-align: center;
    margin: 1rem 10px;
    font-size: 1rem;
    text-transform: uppercase;
}
.heroBtn, .btn{
    display: block;
    text-align: center;
    justify-content: center;
    margin: 3rem;
}

/* ------- HERO SECTION ENDS HERE ---------- */

/* ------- ABOUT CARLSBAD, CA SECTION STARTS HERE ---------- */
.heading{
    text-align: center;
    color: var(--accent3-color);
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-size: 2.4rem;
}
.heading span{
    color: var(--primary-color);
    text-transform: uppercase;
}
.about .row{
    display: flex;
    align-items: center;
    background: linear-gradient(to top, tomato, orange);
    color: white;
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
    padding: 1rem;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3{
    font-size: 2rem;
    color: #fff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 1.8;
}
.about, .menu{
    padding: 1rem;
}
/* ------- ABOUT CARLSBAD, CA SECTION ENDS HERE ---------- */

/* ------- PRODUCTS MENU SECTION STARTS HERE ---------- */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}
.menu .box-container .box{
    padding: 3rem;
    text-align: center;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
}
.menu .box-container .box img{
    width: 100%;
    border-radius: 7px;
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .box-container .box .price span{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through;
}
.menu .box-container .box:hover{
    background: linear-gradient(to top, #9c27b0, #ffa500);
}
.menu .box-container .box:hover > *{
    color: black;
    color: #ff6347 #ffa500 #9c27b0;
}
.menu .box-container .box:nth-child(4){
    display: none;
}
.menu .box-container .box:nth-child(5){
    display: none;
}
.menu .box-container .box:nth-child(6){
    display: none;
}
/* ------- PRODUCTS MENU SECTION ENDS HERE ---------- */

/* ------- WEATHER AND ORDER TOTAL SECTION STARTS HERE ---------- */
.weathertotal-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
    flex-wrap: wrap;
}
.weather p{
    line-height: 30px;
}
.w-forcast{
    display: block;
    padding: 10px;
}
.wh2{
    margin-top: 20px;
}
.forecast{
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to right, #bbb, #bbb, #aaa, #999);
    box-shadow: 2px 2px 5px black;    
}
.forecast p{
    font-weight: bold;
    padding: 8px; 
}
.forecast p:nth-child(1){
    font-size: 25px;
}
.weather{
    background: linear-gradient(to right, #bbb, #bbb, #aaa, lightgrey);
    width: 100%;
    padding: 15px;
    margin: 5px;
    color: #000000;
}
.sky-condition{
    border-bottom: 2px solid #999;
   
}
.humidity{
    margin-top: 10px;
}
.freshtotal{
    background: linear-gradient(to bottom, #aaa, #9c27b0);
    width: 100%;
    padding: 15px;
    margin: 5px;
}
.freshtotal p{
    font-size: 20px;
    padding: 20%;
}
/* ------- WEATHER AND ORDER TOTAL SECTION ENDS HERE ---------- */



/* ------- FOOTER SECTION STARTS HERE ---------- */
.footer{
    background: linear-gradient(to right, #9c27b0, orange);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
    margin-bottom: -30px;
}
.footer .share i{
    width: 2.5rem;
    line-height: 2.7rem;
    font-size: 1.3rem;
    color: #fff;
    border: 2px solid var(--secondary-color);
    margin: .3rem;
    border-radius: 50%;
}
.footer .share i:hover{
    background: linear-gradient(to right, #ff6347, #ffa500 );
}
.footer .links{
    display: none;
}
.footer .credit h2, .contacts h2{
    font-size: 1.3rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.contacts h2{
    color: #000000;
    font-weight: normal;
    margin-bottom: -40px;
}
.footer .credit span{
    color: #333;
}
.weather-source {
    font-size: 18px;
    font-weight: bold;
}
.footer .credit .color{
    color: var(--accent3-color);
}
/* ------- FOOTER SECTION ENDS HERE ---------- */

/* -------ABOUT US PAGE STARTS HERE----------- */

.aboutus-area{
    text-align: center;
    background-image: url(../images/aboutus_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
}
.aboutus-textarea{
    margin: 0 1em 1em 1em;
    padding: 0 1rem 1rem 1rem;
    background-color: rgb(253, 255, 245, .8);
    text-transform: uppercase;
}
.aboutus-area h1{
    padding:  65px 20px 0 30px;
    font-size: 2.5em;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 4px #aaa;
}
.aboutus-area h2{
    border-bottom: 2px solid var(--secondary-color);
    padding-top: 15px;
    width: fit-content;
    margin: 20px auto;
    font-size: 1.5rem;
}
.aboutus-textarea img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.aboutus-textarea p{
    font-size: 20px;
    font-weight: 700;
}
.top-workers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.workers-header{
    text-align: center;
    padding: 20px;
}
.worker{
    padding: 20px;
}
.worker img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
.worker p{
    padding: 7px;
    font-size: 1rem;
    font-weight: 600;
}
.contact-area{
    background: linear-gradient(to right, #ff6347, #ffa500 );
    padding: 30px;
    text-align: center;
}
.contact-area a{
    font-size: 1.6m;
    font-weight: 600;
}

/* -------ABOUT US PAGE ENDS HERE----------- */

/* -------FRESH PAGE STARTS HERE----------- */  
.fruit-section, #fruit-output{
    background: linear-gradient(to right, #ff6347, #ffa500 );
    margin: 10px 15px;
    margin-top: 7em;
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--accent1-color);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px rgb(253, 255, 245, .8);
    color: rgb(253, 255, 245, .8);;
}
.fruit-section h1, p{
    text-align: center;
}
#fruit-output{
    background: linear-gradient(to right, #ffa500, #ff6347 );
    color: #000;
    display: block;
    text-align: center;
    margin-top: 20px;
}
#fruit-output p{
    padding: 2px;
    font-weight: 400;
}
#fruit-output h2{
    padding-bottom: 5px;
}
#fruitMixForm  .btn{
    width: 100%;
    display: block;
   float: left;
    margin: auto;
    margin-bottom: 20px;
}
#fruitMixForm  .btn:hover{
    color: #000;

}
.input, textarea{
    border-radius: 5px;
    margin-bottom: 20px;
    border: 0.5px solid #006D7780;
    padding: 10px .75rem;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
  }
  
  .input:focus{
    animation: border-color ease-in-out;
    border: 1px solid var(--accent1-color);
    outline: none;
    transition: .1s;
    box-shadow: 0 0 10px 1px var(--accent1-color);
  
  }
.client-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.client-info label, .selector, .textarea{
    width: 100%;
    padding: 10px;
}

/* Extra small screen like Galaxy Fold Mobile*/
@media only screen and (max-width: 300px){
    .menu .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
   .heroBtn, .btn{
    width: 100%;
    margin: auto;
   }
}