/*35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35rem){
    nav button{
        display: none;
    }
    nav ul{
        display: flex;
        /* justify-content: center; */
        margin-left: 2vw;
        border-left: 1px solid rgb(0, 0, 0, 0.3);
    }
    nav ul li{
        border: none;
        border-right: 1px solid rgb(0, 0, 0, 0.3);
    }
} /* end medium