@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
main{
    box-sizing: border-box;
}
body {
    font-size: 17px;
    font-family: "Joan", "Roboto", "Rock Salt";
    color: #b77148;
    height: 100%;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
header,
main,
footer {
    margin: 0 auto;
    padding: 0.60em;
    max-width: 550px;
}
header {
    box-shadow: 0 0 15px 5px #0067b9;
}

footer {
    box-shadow: 0 0 15px 5px #0067b9;
    
}

 /* GJN9-JYJMV-T8JY4-694JK-KQBMYheader  */
 /* oas.employment@byui.edu */
img {
    width: 140px;
    border-radius: 5px;
    box-shadow: 0 0 8px 3px #0067b9;
}
a{
   color: #42b0e2;
}
a:hover{
    color: #b77148;
}
h1 {
    font-size: 2rem;
}


footer h1 {
    font-size: 20px;
    /* margin-bottom: 1.9rem; */
}

footer h2 {
    font-size: 0.98rem;
    border-bottom: none;
    text-shadow: none;
    margin-top: -15px;
    color: #b77148;
    ;
}
nav ul li{
    list-style: circle;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 1rem;
    padding: 10px;
    border-bottom: 2px solid gray;
}
header,
footer {
    text-align: center;
    background-color: #42b0e2;
    color: white;

}